<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-card">
    <template>
    <style>
      :host {
        display: block;
      }
      h2{
        text-align: center;
        font-size: 30px;
      }
      .text-container{
        text-align: start;
        display: grid;
        justify-content: center;
        
      }
      .art-txt{

      }
      .btn-send{
        color: white;
        border-radius: 5px;
        height: 28px;;
        width: 16%;
        background-color: rgb(80, 79, 79);
      }
      label{
        font-weight: bold;
        margin-bottom: 4px;
      }
      .text-p{
        margin: 0 auto;
        color: rgb(148, 148, 148);
        padding-bottom: 10px;
      }
      .btn-container{
        padding-top: 15px;
        text-align: start;
        display: flex;
        justify-content: center;
        
      }
    </style>
    <!--Maquetacion de componentes-->
    <h2>[[prop1]]! Ok </h2>
    <!--Resuelto Hotfix-->
    
    <!--Contenedor-->
    <section class="text-container">

        <label for="">Label</label>
        <p class="text-p">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
  
        <label for="">Label</label>
        <p class="text-p">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
  
        <label for="">Label</label>
        <p class="text-p">Lorem ipsum dolor sit amet consectetur adipisicing.</p>

        
        <!--Fin Contenedor-->
      </section>
      <section class="btn-container">
        <button type="submit" class="btn-send">Enviar</button>

      </section>
    
  </template>

    <script>
        /**
         * `information-card`
         * Tarjeta de informacion
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class InformationCard extends Polymer.Element {
            static get is() {
                return 'information-card';
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'Confirmation'
                    }
                };
            }
        }

        window.customElements.define(InformationCard.is, InformationCard);
    </script>
</dom-module>